.page{
    flex:1;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}
.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}

.text{
    color: #000000;
    font-size: 30px;
}
.logIn,
.signUp{
    color: #ffffff;
    font-size: 32px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 900;
    text-align: center;
}
.passView{
    min-width: 270px;
    width:65%;
    max-width: 310px;
    border-radius: 10px;
    background-color: #ffffff;  
}
.pass{
    background-color: #ffffff;
    color: #6c0581;
    padding: 5px;
    font-weight: 900;
    text-align: center;
    font-size: 32px;
    border-radius: 10px;

}
.button{
    border-radius: 15px;
    min-width: 280px;
    width:65%;
    max-width: 320px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.image{
    width: 100%;
    height: 50%;
    object-fit: contain;
}
